/*
 *
 *
 * CSS Reset
 *
 */

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

/*
 *
 *General Rules
 *
 */

section {
	min-height: 100vh;
}

/*
 *
 * Sections
 *
 */
section#bio {
	background-color: #c0c0c0;
	position: relative;
}	

section#bio,
section#bio  a {
	color: #0a0a0a;	
}

section#bio > div#details > img {
	border-radius: 50%;
	width: 200px;
	border: 5px solid black;
	padding:5px;
}

section#bio > div#details > h1,
section#bio > div#details > ul {
	font-family: 'Muli', sans-serif;
	padding-top: 15px;
	padding-bottom: 15px
}

section#bio > div#details >ul {
	list-style: none;
	font size: 25px;
}

div#details{
	/**/border: 1px solid#0a0a0a;
	width: 50%;
	text-align: center;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section#projects {
	 background-color: #afd7b4;
}

section#skillset{
	background-color: #fab297
}

section#contact{
	background-color: #fb9692;
	position: relative;
}

section#projects > h2,
section#skillset > h2,
section#contact  > h2{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


body{
	/*background-color: red;*/
    font-family: 'Open Sans Condensed', sans-serif;

}

/*
 *
 * Footer
 *
 */

 footer{
 	padding-top: 15px;
 	padding-bottom:15px;
 	text-align: center;
 	background-color: #fab297;
 	color: black;
 	position: absolute;
 	bottom: 0;
 	width: 100%;
}

 

footer a{
	color:black;
}